fetch.sh

*pass*

web/assets/img/group.ico

web/config*
!web/config.template.php

ThreadSource

game/addons/sourcemod/scripting/*
!game/addons/sourcemod/scripting/SourceChatter.sp
!game/addons/sourcemod/scripting/SourceChatter_generic.sp
!game/addons/sourcemod/scripting/SourceChatter_example.sp

!game/addons/sourcemod/scripting/include
game/addons/sourcemod/scripting/include/*
!game/addons/sourcemod/scripting/include/sourcechatter.inc
